@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    font-family: 'Source Serif Pro', serif;
}

body {
    margin: 0;
}

.main {
    display: flex;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #75cde5;
    width: 40vw;
    height: 100vh;
}

.main-left img {
    height: 40vw;
}

.main-left a {
    color: #ff8ecc;
    text-decoration: none;
    font-weight: 600;
}

#left-p1 {
    color: white;
    font-size: 1.6em;
    font-weight: 600;
}

#left-p2 {
    color: white;
    font-size: 1em;
}


.main-right {
    background-color: #ff8ecc;
    width: 60vw;
    height: 100vh;
    padding-right: 10em;
    padding-left: 4em;
}

.main-right .right-top p {
    color: white;
    font-size: 2em;
}
